.venv/
compositionGAN/checkpoints/
compositionGAN/dataset/
compositionGAN/results/
compositionGAN/training_outputs/
object_detection/checkpoints/
object_detection/mmdet/
object_detection/work_dir/*.pth
dataset/
